* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

body {
min-height: 100vh;
max-width: 1440px;
background-color: #FFFFFF;
    
    
    /* margin-top: -1337px; */
   
    /* position: absolute; */
    /* background: url(./assets/footer.jpg) no-repeat center bottom; 
   
    z-index: -1; */

}

.wrapper {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}
h4 {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

h2 {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

h3 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}

h5 {
font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
color: #0D606F;
}

.link {
    text-decoration: none;
}

.link:hover, .link:focus, link:active {
    opacity: 0.5;
}

/* font-family: 'Aleo', serif;
font-family: 'Red Hat Text', sans-serif;
*/
/* Header starts  */

/* .header_pic {
    transform: translateY(-90px);
    height: 765px;
    width: 1440px; 
    top: 0;
    left: 0;
    position: absolute;
    background: url(./assets/header.jpg) no-repeat center;
    background-size: cover;
   
   z-index: -1;
   overflow: hidden;
} */

.header {
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    z-index: 500;
    /* opacity: auto; */
    /* overflow: visble; */
}
.header > * {
    z-index: 500;
}

.header::after {
    content: "";
    height: 765px;
    width: 100%; 
    top: 0;
    left: 0;
    position: absolute;
    background: url(./assets/header.jpg) no-repeat center;
    z-index: -1;
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.header_wrapper > * {
margin: 0px;
}    

.header_logo_wrapper {
    margin-right: 0px;
    margin-right: 0px;
}

.navigation_list {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-left: 0px;
    margin-left:  0px;   
}

.nav_link {
    text-decoration: none;
    color: #FFFFFF;
}

.nav_link:hover, .nav_link:focus, .nav_link:active {
    opacity: 0.5;
}

.nav_item {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding-right: 42px;
}

.nav_item:nth-child(4) {
    padding-right: 20px;
}
.nav_item:nth-child(5), .nav_item:nth-child(6) {
    display: none;
}

.header_button {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 10px 30px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    outline: none;
}

.header_logo {
    display: flex;
}

.header_name {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    padding-left: 5px;
}

.header_burger {
    display: none;
}


/* Header ends  */
/* main starts  */
/* how it works starts  */
/* popup menu starts  */
/* .wrapper_mobile.active {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.4);
    transition: linear 0.4s;
} */
.popup_wrapper {
    display: none;
  
    position: fixed;
    width: 100%;
        height: 100%;
        top: 0;  
        z-index: 600;
        background-color: rgb(0, 0, 0, 0.4);
}
.popup_wrapper.active {     
     display: flex; 
    /* transform: translate(0px, 0px);
        z-index: 5;
        transition: transform 0.4s; */
    }

.popup_sign-in {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -330px;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    z-index: 2;
    /* width: 660px; */
    padding: 0px 45px;
    /* flex-direction: column; */
   flex-grow: 100%;
   flex-shrink: 100%;
   flex-basis: 660px;
   max-width: 660px;
   flex-wrap: wrap;
}
.popup_sign-in.active {
   display: flex;
}
.popup_sign-up {
    display: none; 
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -330px;
    padding: 0px 45px;
    flex-grow: 100%;
    flex-shrink: 2;
    flex-basis: 660px;
    max-width: 660px;
    min-width: 100px;
    flex-wrap: wrap;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    z-index: 2;
}

.popup_sign-up.active {
    display: flex;
}


.sign-in_button{
    display: flex;
    align-items: center;
    /* min-width: 560px; */
    flex: 1 1 560px;
    max-width: 560px;
    min-width: 100px;
    margin: 0px 0px 20px;
    justify-content: center;
    padding: 15px;
    }

.pop_tittle {
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
    flex: 1 1 560px;
    max-width: 560px;
    min-width: 100px;
}

.popup_button {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    color: #FFFFFF;
}

.popup_logo {
    display: block;
    margin: 0px 15px 0px 0px;
}

.button_colored {
    background: #1877F2;
}



.button_colored_white {
    background: #ffffff;
    color: #000000;
}

.button_entrance {
    flex: 1 1 560px;
    max-width: 560px;
    min-width: 100px;
    background: #0D606F;
    margin-top: 12px;
    margin-bottom: 20px;
    padding: 14px 0px;
}

.popup_input {
    min-height: 54px;
    flex: 100 1 560px;
    max-width: 560px;
    min-width: 100px;
    margin-bottom: 8px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

/* .popup_input:last-child {
    margin-bottom: 8px;
} */

.popup_buttom {
    flex: 1 1 560px;
    max-width: 560px;
    min-width: 100px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.popup_text {
    color: rgba(13, 96, 111, 0.5);
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.sign_text {
margin: 12px 0px 5px 0px;
padding-left: 3px;
flex: 100 1 560px;
max-width: 560px;
min-width: 100px;
font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #0D606F
}
.sign {
margin-top: 0px;
}

.popup_text_link {
    margin-bottom: 26px;
    flex: 1 1 560px;
    max-width: 560px;
    min-width: 100px;
    text-align: center;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #0D606F
}

.popup_line_between {
    /* min-width: 590px; */
    position: relative;
    flex: 1 1 560px;
    max-width: 560px;
    min-width: 100px;
    text-align: center;
font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: rgba(13, 96, 111, 0.5);
margin-top: 10px 0px;
}

.popup_line_between::before {
    content: "";
    background-color: #E5E5E5;
    border: 1px solid rgba(13, 96, 111, 0.5);
    position: absolute;
    width: 45%;
    height: 0px;
    left: 0px;
    top: 50%;
}
.popup_line_between::after {
    content: "";
    background-color:  #E5E5E5;
    border: 1px solid rgba(13, 96, 111, 0.5);
    position: absolute;
    width: 45%;
    height: 0px;
    right: 0px;
    top: 50%;
}

.popup_line_bottom {
position: relative;
flex: 1 1 560px;
max-width: 560px;
min-width: 100px;
}

.popup_line_bottom::after {
    content: "";
    background-color:  #E5E5E5;
    border: 1px solid rgba(13, 96, 111, 0.5);
    position: absolute;
    width: 100%;
    height: 0px;
    right: 0px;
    top: 50%;
}

.popup_buttom-text {
    font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;

color: rgba(13, 96, 111, 0.5);
text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16)
}

.popup_footer {
    margin-top: 20px;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
}

.popup_buttom_link {
    margin-left: 3px;
    white-space: nowrap;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: rgba(13, 96, 111, 1);
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16)
}


/* popup menu ends  */
.preview {
    padding-bottom: 253px

}
.wrapper_how {
    max-width: 890px;
    margin-left: 0;
    padding-top: 32px;
    padding-bottom: 0px;
    z-index: 500;
    
}
.wrapper_how > * {
    z-index: 500;
}


.how_subtitle {
    padding-top: 30px;
    padding-bottom: 46px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.how_search {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}

.search {
    flex-grow: 1;
    margin-left: 0;
    padding: 0px 42px 0px 41px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    border: 0;
    background: none;

}

::placeholder {
    color: #F2785C;
}

.button_search {
    margin: 18px;
    padding: 12px 32.5px 12px 30px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    transition: 0.3s;
    border-style: none;
}

.button:active, .button:hover, .button:focus {
    cursor: pointer;
    background: #236d7a;
    
}
/* how it works ends  */

/* 3 way starts  */

.plan_wrapper {
   text-align: center;
   padding-bottom: 81px;
   padding-top: 80px;
}
.section_subtittle{
    text-align: center;
}

.plan_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}


.logo_square {
    display: flex;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    background: #F2785C;
    border-radius: 16px;
}   

.plan_logo {
    display: block;
    margin:  auto;
    
    /* vertical-align: center; */
}
.plan_element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px
}

.plan_element:first-child {
    
    padding-left: 10px; 
}

.plan_element:last-child {
    margin-right: 0px;
    padding-right: 10px; 
}


/* 3 way ends */

/* Destintations start */

.destinations {
    padding-top: 10px;
    padding-bottom: 89px;
}

.destinations_wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    max-width: 1440px;
    background-color: #FFFFFF;
}
.destination_subtittle {
    padding-bottom: 46px;
}

.block_pic {
   display: flex;
   flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    
    transform: translateX(0)
    /* width: 2520px;
    margin-left: -500px; */
}

.destination_pic {
     margin: 0px 30px;
     position: relative;
     object-fit: cover;
     max-width: 100%;
     /* transform: translateX(100%) */
}
/* .destination_pic:nth-child(1) {
    transform: translateX(-520px)
}
.destination_pic:nth-child(2) {
    transform: translateX(-520px)
}
.destination_pic:nth-child(3) {
    transform: translateX(-520px)
} */

/* .destination_pic:last-child {
    margin-right: 0px;
} */

.destination_country {
    border-radius: 0px;
}

.country_name {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    position: absolute;
    bottom: 47px;
    left: 15px;
}

.slider {
    text-align: center;
    padding-top: 17px;
    
}

.dotes:first-child {
    padding-right: 5px;

}
.dotes:last-child {
    padding-left: 5px;

}

.button_wrapper {
    padding-top: 34px;
    display: flex;
}

.button_arroy {
    position: relative;
    height: 59px;
    padding-left: 81px;
    padding-right: 31px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */
    color: #FFFFFF;;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px; 
    
} 
.arroy {
    /* margin: 9px 10px 9px 31px; */
    height: 40px;
    width: 40px;
    position: absolute;
    left: 31px;
    top: 8px;
    margin: 0 0;
}
.slider_arroy {
    display: none;
}

/* .button_arroy::before {
background: url(assets/svg/bi_arrow-right.svg) no-repeat  center; 
background-size: contain;
left 10px
} */

/* Destintations ends */

/* stories starts */

.stories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    padding-bottom: 41px;
}

.subtittle_stories {
    padding-bottom: 80px;
}

.story_block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

.story_block_last {
    padding-bottom: 0px;
}

.story_wrapper {
    padding-left: 40px;
}

.pic_stories {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.story_sub {
    padding-bottom: 24px;
}

.story_link {
color: #0D606F;
font-weight: 700;

}
.button_wrapper_stories {
    display: flex;
    padding-top: 39px;
}

.button_arroy_stories {
    position: relative;
    height: 59px;
    padding-left: 79px;
    padding-right: 35px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */
    color: #FFFFFF;;
    background: #0D606F;
    /* box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16); */
    border-radius: 10px; 
    box-shadow: none;
} 

.arroy_stories {
    /* margin: 9px 10px 9px 31px; */
    height: 40px;
    width: 40px;
    position: absolute;
    left: 29px;
    top: 8px;
    margin: 0 0;

}

/* stories ends */

/* Footer starts */

.footer > * {
    z-index: 500;
}

.footer::after {
    content: "";
    height: 1331px;
    width: 100%;
    margin-top: -1337px;
    left: 0;
    position: absolute;
    background: url(./assets/footer.jpg) no-repeat center; 
    z-index: -1;
}


.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13.5px 0;
}

.footer_wrapper > * {
    padding: 0px;
    margin: 0px;
}

.pesolan_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.rs { 
    height: 33.65px;
    width: 100px;
    background-image: url("assets/svg/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}



.footer_text {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding-right: 91px;
}

.social-links {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0px;
}

.social-media {
    padding-right: 19px;
}

.social-media:last-child {
    padding-right: 0px;
}

.github {
    height: 30px;
    width: 30px;
}

.bottom_wrapper {
    position: relative;
}

/* .footer_pic {
    
        transform: translateY(-90px);
        height: 765px;
        width: 1440px; 
        bottom: 0px;
        left: 0;
        position: absolute;
        background: url(./assets/footer.jpg) no-repeat center;
        background-size: cover;
       
       z-index: -1;
       overflow: hidden;
    } */


/* Footer ends */


@media (max-width: 750px) {
    html {
        font-size: calc(9px + (20 - 9) * ((100vw - 390px) / (750 - 390)));
        line-height: calc(11px + (24 - 11) * ((100vw - 390px) / (750 - 390)));
    }
    h1 {
        font-size: calc(20px + (80 - 20) * ((100vw - 390px) / (750 - 390)));
        line-height: calc(25px + (96 - 25) * ((100vw - 390px) / (750 - 390)));
    }
    h2 {
        font-size: calc(14px + (40 - 14) * ((100vw - 390px) / (750 - 390)));
        line-height: calc(14px + (53 - 19) * ((100vw - 390px) / (750 - 390)));
    }
    h3 {
        font-weight: 700;
        font-size: calc(11px + (35 - 11) * ((100vw - 390px) / (750 - 390)));
        line-height: calc(13px + (42 - 13) * ((100vw - 390px) / (750 - 390)));
    }
    h4 {
        font-size: calc(9px + (20 - 9) * ((100vw - 390px) / (750 - 390)));
        line-height: calc(11px + (24 - 11) * ((100vw - 390px) / (750 - 390)));
    }
    .header_name {
        font-size: calc(11px + (35 - 11) * ((100vw - 390px) / (750 - 390)));
        line-height: calc(13px + (42 - 13) * ((100vw - 390px) / (750 - 390)));
    }
    .search {
        /* flex-grow: 1; */
        padding: 0px 0px 0px 17px;
        font-size: calc(14px + (24 - 14) * ((100vw - 390px) / (750 - 390)));
        line-height: calc(17px + (29 - 17) * ((100vw - 390px) / (750 - 390)));
    }

    .button_search {
        margin: 9px 9px 9px 0px;
        padding: 9px 7.5px;
        font-size: calc(11px + (24 - 11) * ((100vw - 390px) / (750 - 390)));
        line-height: calc(15px + (32 - 15) * ((100vw - 390px) / (750 - 390)));
    }
    .logo_square {
        width: calc(70px + (100 - 70) * ((100vw - 390px) / (750 - 390)));
        height: 70px;
    }
    .plan_element {
        flex: 0 0 30%;

    }

    .plan_element:first-child {
        margin-right: 15px;
        
        margin-right: 10px;
    }
    
    .plan_element:last-child {
       
        padding-right: 15px; 
    }

    .navigation_list {
        flex-wrap: wrap;
    }
   .pic_stories {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: drop-shadow(0px 4px 4px #0D606F);
        border-radius: 16px;
   }

   .story_image_blcok {
       flex-shrink: 0.5;
   }
    
   .footer_text {
    font-size: calc(9px + (16 - 9) * ((100vw - 390px) / (750 - 390)));
        line-height: calc(11px + (21 - 11) * ((100vw - 390px) / (750 - 390)));
   }

   .footer_text {
       padding-right: 0;
       margin: 0 auto;
   }
}
@media (max-width: 390px) {

    
    .wrapper_mobile.active {
        position: fixed;
        top: 0;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgb(0, 0, 0, 0.4);
        transition: linear 0.4s;
    }

    .header {
        background: none;
        box-shadow: none;
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 79.1%);
        max-width: 100%;
        overflow: hidden;
    }

    .header_wrapper {
        padding: 45px 0px 0px 0px;
    }

    .navigation {
        transform: translate(70%, 0px);
        position: fixed;
        width: 100%;
            height: 100%;
            top: 0;
            left: 0px;
            transition: linear 0.4s;
        
    }

    /* .navigation {
        position: fixed;
            top: 0;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgb(0, 0, 0, 0.4);
        
        
    } */

    .navigation.active {
            
        transform: translate(0px, 0px);
            z-index: 5;
            /* transition: transform 0.4s; */
        }

    .navigation_list {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        list-style: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 165px;
        height: 250px;
        padding: 44px 15px 18px 44px;
        background: #F2785C;
        box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
        border-radius: 10px;
        /* transform: translate(100%, 0px); */
    }

    .navigation_list.active {
        /* right: 0; */
        /* transition: all 0.3s; */
        z-index: 5;
        /* z-index: 2; */
        /* transform: translate(0%, 0px); */
    }


    .nav_item {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        text-align: right;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        padding-bottom: 10px;
    }

    .nav_item:nth-child(5), .nav_item:nth-child(6) {
        display: block;
    }

    .nav_item:nth-child(4){
        padding-right: 0;
    }



    .header_burger {
        display: block;
        position: relative;
        width: 26.25px;
        height: 16px;
        margin-right: 9px;
        margin-top: -2px;
        cursor: pointer;
        z-index: 5;
 
    }

    .header_burger > span {
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 2.67px;
        left: 0;
        top: calc(50% - 1.37px);
    }


    .header_burger::after, 
    .header_burger::before {
        content: "";
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 2.67px;
        left: 0;
    }

    .header_burger::after {
        top: 0;
    }

    .header_burger::before {
        bottom: 0;
    }

    .header_burger.active {
        position: fixed;
        top: 23px;
        right: 29.98%
    }

    .header_burger.active span {
        transform: scale(0);
    }

    .header_burger.active::after {
        width: 20px;
        height: 1.5px;
        transform: rotate(45deg);
        top: 0;
    }

    .header_burger.active::before {
        width: 20px;
        height: 1.5px;
        transform: rotate(-45deg);
        top: 0;
    }

    .main_tittle, .main_subtittle {
        display: none;
    }
    .preview {
        padding-bottom: 82px;
    }
    
    .wrapper_how {
        padding-top: 0;
    }
    .how_subtitle {
        display: none;
    }
    .how_search {
        margin-top: 68px;
    }

    .button_search {
        margin: 8px 9px 8px 0px;
        padding: 8px 7.5px;
      
    }
    .button {
        box-shadow: none;
        border-style: none;
    }

    .plan_wrapper {
        padding-top: 0;
        padding-bottom: 21px;
    }

    .plan_actions {
        padding-top: 26px;
    }

    .plan_element {
        justify-content: space-between;
    }

    .plan_element:first-child {
        padding-left: 0px;
        text-align: left;
        padding-right: 20px;
        margin-right: 0px;
    }
    
    .plan_element:nth-child(2) {
        margin-bottom: 12px;
        flex-grow: 1;
        text-align: center;
    }

    .plan_element:last-child {
        margin-right: 0px;
        padding-right: 0px;
       text-align: right;
    }
    
    .logo_square {
        margin-bottom: 19px;
    }

    .third_logo {
        margin-right: 0;
    }

    .first_logo {
        margin-left: 0;
    }
    
    .mobile_p {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #0D606F;
    }

    .destinations {
        padding-top: 0px;
    }

    .destination_subtittle {
        padding-bottom: 23px;
    }

    .destinations {
        position: relative;
        padding-bottom: 22px;
    }

    .slider {
        position: absolute;
        bottom: 22.99%;
        left: 45.4%;
        padding-top: 0;
    }

    .dote {
        width: 8px;
        height: 8px;
        opacity: 0.5;
    }

    /* .dote1 {
        opacity: 1;
    } */

    .destination_pic {
        /* margin-right: 60px; */
        max-width: 100%;
        position: relative;
        object-fit: contain;
        /* margin: 0px 15px; */
        margin: 0px;
        border-radius: 16px;
        background-color: #FFFFFF;
   }
   
    .country_name {
        position: absolute;
        left: 4.16%;
        top: 3.76%;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;
    }

    .destinations_wrapper {
        width: calc(100% - 30px);
        overflow: hidden;
        /* padding: 0px 15px; */
        /* max-width: 360px; */
        /* padding: 0px 15px 0px 15px; */
        /* margin: 0px 15px; */
        background-color: unset;
        /* overflow: hidden; */
    }

    .block_pic {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        
        /* width: 100%; */
            /* transform: translateX(-360px); */
        /* margin: 0px 15px; */
     }

     /* .destination_pic {
        display: flex;
        margin: 0;
        max-width: 100%;
          transform: translateX(-390px); 
     } */

     /* .sm {
        max-width: 100%;
        border-radius: 16px;
        background-color: #FFFFFF;
        object-fit: contain;
     }
         */
   
    .slider_arroy {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 41%;
    }

    .arroy_mobile1 {
        margin-left: 6.5%;
        transform: rotate(180deg);
        opacity: 0.5;
    }

    .arroy_mobile2 {
        margin-right: 6.5%;
    }

    .button_wrapper {
        padding-top: 7px;
    }
    .button_arroy {
        position: relative;
        height: 30px;
        padding-left: 26px;
        padding-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Red Hat Text';
        font-size: 11px;
        line-height: 15px;
        color: #FFFFFF;
        background: #0D606F;
        border-radius: 10px;
        box-shadow: none;
    }

    .arroy {
        /* margin: 9px 10px 9px 31px; */
        height: 10px;
        width: 10px;
        position: absolute;
        left: 11.75%;
        top: 31.48%;
        margin: 0 0;
    }

    .subtittle_stories {
        padding-bottom: 21px;
    }

    .story_wrapper {
        padding-left: 10px;
    }

     .story_text {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
    }

    .stories {
        padding-bottom: 13px;
    }
    .story_block {
        padding-bottom: 12px;
    }

    .story_block_last {
        padding-bottom: 0px;
    }

    .story_image_blcok {
        flex-shrink: 0;
    }

    .story_sub {
        padding-top: 7px;
        padding-bottom: 10px;
    }

    .text_sm {
        display: none;
    }

    .button_wrapper_stories {
        padding-top: 9px;
    }

    .button_arroy_stories {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding-left: 27.5px;
        padding-right: 11.5px;
        font-size: 11px;
        line-height: 15px;
        /* identical to box height */
        box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
        border-radius: 10px;
        border-style: none;
    } 

    .arroy_stories {
        /* margin: 9px 10px 9px 31px; */
        height: 10px;
        width: 10px;
        position: absolute;
        left: 13.71%;
        top: 31.48%;
        margin: 0 0;
    }

    
    .footer_text, .pesolan_links, .header_buton_block, .header_name {
        display: none;
    }

    .footer_wrapper {
        justify-content: center;
        padding: 14.5px 0px;
    }
    .footer_links {
        margin-left: 10px;
    }
    
   
    .header::after {
        height: 251px;
        background: url(./assets/header_sm.jpg) no-repeat center;
       background-size: cover;
    }

    .mobile_header_wrapper {
        max-width: 100%;
        overflow: hidden;
    }
    .header_wrapper {
        max-width: 100%;
        overflow: hidden;
    }
    
    .footer::after {
        max-width: 100%;
        content: "";
        height: 693px;
        width: 100%;
        margin-top: -694px;
        left: 0;
        background: url(./assets/footer_sm.jpg) no-repeat center; 
    } 
}


