* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

body {
min-height: 100vh;
max-width: 1440px;
background-color: #FFFFFF;
    
    
    /* margin-top: -1337px; */
   
    /* position: absolute; */
    /* background: url(./assets/footer.jpg) no-repeat center bottom; 
   
    z-index: -1; */

}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}
h4 {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

h2 {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

h3 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}

.link {
    text-decoration: none;
}

.link:hover, .link:focus, link:active {
    opacity: 0.5;
}

/* font-family: 'Aleo', serif;
font-family: 'Red Hat Text', sans-serif;
*/
/* Header starts  */

/* .header_pic {
    transform: translateY(-90px);
    height: 765px;
    width: 1440px; 
    top: 0;
    left: 0;
    position: absolute;
    background: url(./assets/header.jpg) no-repeat center;
    background-size: cover;
   
   z-index: -1;
   overflow: hidden;
} */

.header {
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    z-index: 500;
    /* opacity: auto; */
    /* overflow: visble; */
}
.header > * {
    z-index: 500;
}

.header::after {
    content: "";
    height: 765px;
    width: 100%; 
    top: 0;
    left: 0;
    position: absolute;
    background: url(./assets/header.jpg) no-repeat center;
    
    z-index: -1;
}



.header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.header_wrapper > * {
margin: 0px;
}    

.header_logo_wrapper {
    margin-right: 0px;
    margin-right: 0px;
}

.navigation_list {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-left: 0px;
    margin-left:  0px;
    
}

.nav_link {
    text-decoration: none;
    color: #FFFFFF;
}

.nav_link:hover, .nav_link:focus, nav_link:active {
    opacity: 0.5;
}

.nav_item {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding-right: 42px;
}
.nav_item:first-child {
    padding-right: 52px;
}

.nav_item:last-child {
    padding-right: 20px;
}

.header_button {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 10px 30px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    outline: none;
}

.header_logo {
    display: flex;
    
}

.header_name {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    padding-left: 5px;
}



/* Header ends  */
/* main starts  */
/* how it works starts  */

.preview {
    padding-bottom: 253px

}
.wrapper_how {
    max-width: 890px;
    margin-left: 0;
    padding-top: 32px;
    padding-bottom: 0px;
    z-index: 500;
    
}
.wrapper_how > * {
    z-index: 500;
}


.how_subtitle {
    padding-top: 30px;
    padding-bottom: 46px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.how_search {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}


  

.search {
    flex-grow: 1;
    margin-left: 0;
    padding: 0px 42px 0px 41px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    border: 0;
    background: none;

}

::placeholder {
    color: #F2785C;
}

.button_search {
    margin: 18px;
    padding: 12px 32.5px 12px 30px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    transition: 0.3s;
}

.button:active, .button:hover, .button:focus {
    cursor: pointer;
    background: #236d7a;
    
}
/* how it works ends  */

/* 3 way starts  */

.plan_wrapper {
   text-align: center;
   padding-bottom: 81px;
   padding-top: 80px;
}
.section_subtittle{
    text-align: center;
}

.plan_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}


.logo_square {
    display: flex;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    background: #F2785C;
    border-radius: 16px;
}   

.plan_logo {
    display: block;
    margin:  auto;
    
    /* vertical-align: center; */
}
.plan_element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px
}

.plan_element:first-child {
    margin-right: 68px;
    padding-left: 10px; 
}

.plan_element:last-child {
    margin-right: 0px;
    padding-right: 10px; 
}


/* 3 way ends */

/* Destintations start */

.destinations {
    padding-top: 10px;
    padding-bottom: 89px;
}

.destinations_wrapper {
    position: relative;
    overflow: hidden;
    max-width: 1440px;
    background-color: #FFFFFF;
}
.destination_subtittle {
    padding-bottom: 46px;
}

.block_pic {
   display: flex;
   flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 2520px;
    margin-left: -540px;
}

.destination_pic {
     margin-right: 60px;
     position: relative;
}

.destination_pic:last-child {
    margin-right: 0px;
}

.destination_country {
    border-radius: 0px;
}

.country_name {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    position: absolute;
    bottom: 47px;
    left: 15px;
}

.slider {
    text-align: center;
    padding-top: 17px;
    
}

.dotes:first-child {
    padding-right: 5px;

}
.dotes:last-child {
    padding-left: 5px;

}

.button_wrapper {
    padding-top: 34px;
    display: flex;
}

.button_arroy {
    position: relative;
    height: 59px;
    padding-left: 81px;
    padding-right: 31px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */
    color: #FFFFFF;;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px; 
    
} 
.arroy {
    /* margin: 9px 10px 9px 31px; */
    height: 40px;
    width: 40px;
    position: absolute;
    left: 31px;
    top: 8px;
    margin: 0 0;

}
/* .button_arroy::before {
background: url(assets/svg/bi_arrow-right.svg) no-repeat  center; 
background-size: contain;
left 10px
} */

/* Destintations ends */

/* stories starts */

.stories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    padding-bottom: 41px;
}

.subtittle_stories {
    padding-bottom: 80px;
}

.story_block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

.story_block_last {
    padding-bottom: 0px;
}

.story_wrapper {
    padding-left: 40px;
}

.pic_stories {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.story_sub {
    padding-bottom: 24px;
}

.story_link {
color: #0D606F;
font-weight: 700;

}
.button_wrapper_stories {
    display: flex;
    padding-top: 39px;
}

.button_arroy_stories {
    position: relative;
    height: 59px;
    padding-left: 79px;
    padding-right: 35px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */
    color: #FFFFFF;;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px; 
} 

.arroy_stories {
    /* margin: 9px 10px 9px 31px; */
    height: 40px;
    width: 40px;
    position: absolute;
    left: 29px;
    top: 8px;
    margin: 0 0;

}

/* stories ends */

/* Footer starts */

.footer > * {
    z-index: 500;
}

.footer::after {
    content: "";
    height: 1331px;
    width: 100%;
    margin-top: -1337px;
    left: 0;
    position: absolute;
    background: url(./assets/footer.jpg) no-repeat center; 
   
    z-index: -1;
}


.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13.5px 0;
}

.footer_wrapper > * {
    padding: 0px;
    margin: 0px;
}

.pesolan_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.rs { 
    height: 33.65px;
    width: 100px;
    background-image: url("assets/svg/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}



.footer_text {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding-right: 91px;
}

.social-links {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0px;
}

.social-media {
    padding-right: 19px;
}

.social-media:last-child {
    padding-right: 0px;
}

.github {
    height: 30px;
    width: 30px;
}

.bottom_wrapper {
    position: relative;
}

/* .footer_pic {
    
        transform: translateY(-90px);
        height: 765px;
        width: 1440px; 
        bottom: 0px;
        left: 0;
        position: absolute;
        background: url(./assets/footer.jpg) no-repeat center;
        background-size: cover;
       
       z-index: -1;
       overflow: hidden;
    } */


/* Footer ends */
